/* CSS Document */

/* Intialize margin and padding as 0*/
*{
  margin: 0;
  padding: 0;
}


body {
  font-family: "PT Sans";
  font-size: 100%; /* Generally set the font-size to 100% in the body - you can then change with em in the other areas */
  line-height: 1.7em; /* Space between lines */
  color: #000000; /* Hex Color Black */
  background: #fff9ea; /* Background of whole page */
}

a { 
  color: #0F4970; /* default color of links */
  text-decoration: none;
}

a:hover { 
  color: #0c5829; /* link color when hovered over */
  text-decoration: underline; /* underline hovered links */
}

/* The container ID will hold our full webpage together */
#container {
  width: 100%;
  margin: 10px auto; /* Sets 10px to the top and the the browser will center with auto */
}

#top_row header {
  margin-bottom: -11em; /* move nav up */
}

#top_row h1 {
  color: #0F4970; /* Blue color for header */
  font-size: 3.75em;
  letter-spacing: -2px; /* The letter-spacing property increases or decreases the space between characters in a text. */
}

#top_row h3 {
  font-size: 1.125em;
  font-weight: 200; /* The font-weight property sets how thick or thin characters in text should be displayed. */
}

#top_row nav {
  text-align: center;  /* center the nav text */
}

#top_row nav a {
  text-decoration: none;
  font-size: 1.125em;
  font-weight: 400;
  margin-left: 5%; /* space out nav links */
  margin-right: 5%;
  color: #580c3b;
}

#top_row nav a.selected {
  color: #f1bb99;  /* change color of nav page if selected */
}

#top_row li {
  display: inline; /* display nav horizontally */
  border-right: 1px solid #bbb; /* add borders on both sides */
  border-left: 1px solid #bbb;
}

/* logo formatting */
#top_row img {
  float: center;
  width: 15%;
  height: auto;
}

  
/* Hover adds special style to an element when you mouse over it */  
#top_row nav a.selected:hover {
  color: #f1bb99; 
}

#top_row nav a:hover {  
  color: #f1bb99; 
}

#content {
  width: 100%;
  margin: 2%; 
}


#content h3 {
  font-size: 1.5em;
  margin: 30px 0 10px 0;
  font-weight: normal;
}

#tabs a {
  color: #C52222; /* Tab links have a different color */
}

#tabs {
  color: #255555; /* Tab text has a different color*/
}

footer {
  clear: both; /* The clear property specifies which side(s) of an element other floating elements are not allowed. */
  padding: 0.5em;
  color: #333333;
  font-variant: small-caps; 
  font-size: .813em;
  text-align: center;
  border-top: 1px dotted #cccccc; /* border above the footer delineating it */
  column-count: 4;
  color: #0c5829;
}

/* Table Styling */
table {
  width: 75%;
  border-style: solid;
  border-width: 3px;
  border-color: #075F8A;
  border-spacing: 3px;
  margin: auto;
  table-layout: auto;
  border-collapse: collapse;
}

/* headers*/
th {
  height: 40px;
  border-width: 1px;
}

/* headers and elements*/
th, td { 
  padding: 2px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-top-width: 2px;
  color: #333333;
}

tr {
  color: #7FFFFF;
}


/* Form Styling */
form {
  width: 82%; /* don't take all the space */
  float: right; /* move forms to the right to give space for logo */
  height: auto;
  border-style: solid;
  border-width: 3px;
  border-color: #f1bb99;
  border-radius: 1%; /* make borders slightly circular */
  padding: 10px;  
  margin-right: 3%;
  margin-left: 2%;
  margin-bottom: 20px;
}

label {
  text-align: center;
}

html { overflow-y: scroll; } /* scrolling if overflows*/

iframe {
  display: block;
}

/* leftmost column */
.columnlefttext {
  float: right;
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
}

/* third column */
.columnmiddle {
  float: right;
  width: 20%;
}

.columnmiddle img {
  border-radius: 30%; /* round image */
  width: 80%;
  height: auto;
}

/* rightmost column */
.columnleft {
  float: right;
  width: 20%;
  margin-right: 3%;
}

.columnleft img {
  border-radius: 30%;
  width: 80%;
  height: auto;
}

/* second column */
.columnright {
  float: right;
  width: 20%;
}

.columnright img{
  border-radius: 30%;
  width: 80%;
  height: auto;
}

/* footer has four columns */
.columnfootone {
  width: 100%;
  height: 108px;
}

.columnfoottwo {
  width: 100%;
  height: 108px;
}

.columnfootthree {
  width: 100%;
  height: 108px;
}

.columnfootfour {
  width: 100%;
  height: 108px;
}

/* buttons are purple with white text */
.button {
  background-color: #580c3b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
  margin-bottom: 20px;
}

ol, ul {
  list-style-position: inside; /* move bullet points inside */
}

/* style hr line */
hr {
  border: 1px solid #f1bb99;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* responsive to size */
.responsive {
    max-width: 100%;
    height: auto;
}



